In [21]:
import pandas as pd
import numpy as np

In [22]:
two_dimensional_list = [['dongwook',50,60],['sineui',89,31],['ikjoong',68,91],['yonsoo',88,75]]

In [23]:
my_df = pd.DataFrame(two_dimensional_list, columns=['name','english_score','math_score'], index=['a','b','c','d'])
my_df

       name  english_score  math_score
a  dongwook             50          60
b    sineui             89          31
c   ikjoong             68          91
d    yonsoo             88          75

In [24]:
my_list = [['Taylor Swift','December 13,1989','Singer-songwriter'],['Aaron Sorkin','June 9,1961','Screenwriter'],['Harry Potter','July 31,1980','Wizard'],['Ji-sung Park','February 25,1981','Footballer']]

In [25]:
df1 = pd.DataFrame(my_list, columns=['name','birthday','occupation'])
df1

           name          birthday         occupation
0  Taylor Swift  December 13,1989  Singer-songwriter
1  Aaron Sorkin       June 9,1961       Screenwriter
2  Harry Potter      July 31,1980             Wizard
3  Ji-sung Park  February 25,1981         Footballer

In [35]:
df2 = pd.read_csv("iphone.csv", index_col=0) #header = none
df2

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [36]:
type(df2)

pandas.core.frame.DataFrame